on boot
    # Google Key
    write /sys/devices/platform/soc/soc:asustek_googlekey/googlekey_enable 1

    # Smart Charging
    chown system system /sys/class/power_supply/battery/input_suspend
    chmod 0666 /sys/class/power_supply/battery/input_suspend

###+++++++++ CSC Audio calibration server ++++###

on property:sys.asus.audiocalibration=1
    setprop vendor.asus.vendor_audiocalibration 1

on property:sys.asus.audiocalibration=0
    setprop vendor.asus.vendor_audiocalibration 0

###--------- CSC Audio calibration server ----###
